# Miscellaneous
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android Studio
*.jks
*.keystore
*.mobileprovision

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Web
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Android
android/local.properties
android/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/.generated/

# Documentation
doc/api/

# Environment variables
.env*
.env
